h1 {
 color: red;
 text-align: center;
}

h2 {
 color: orangered;
 text-align: center;
 margin: 0 0 20px 0;
}

h4, h3 {
 margin :0;
}
#scoreP1, #scoreP1 + h4 {
 color: blue;
}

#scoreP2, #scoreP2 + h4 {
 color: darkolivegreen;
}

#players {
 display: flex;
 flex-direction: row;
 align-content: flex-start;
 justify-content: space-around ;
 text-align: center; 
}

#boardGame {
 display: flex;
 flex-direction: row;
 justify-content: center ;
}

img {
  width: calc(72vh / 12); /* divide by the boardGameSize */
}